
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size:3.5rem;
    line-height: 1.5;  
    font-weight: 900;
    color:#fff;
}
#title{
    background-color:#ff4c68;
}
.container-fluid{
    padding:3% 15%;
}


/* Navigation bar */
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family:'Ubuntu';
    font-size:2.5rem;
    font-weight:bold;
}
.nav-item{
    padding:0px 18px;
}
.nav-link{
    font-size:1.2rem;
    font-family:'Montserrat';
}


/* buttons */

.btn-1{
    margin:5% 3% 5% 0%;
}
.title-image{
    width:90%;
    /* transform:rotate(-20deg); */
    /* padding:12px; */
    /* padding-left:114px; */
}
 /* features */
 #features{
     padding:7% 15%;

 }
 .feature-box{
     text-align:center;
     padding:5%;
 }
 h3{
     font-family:'Montserrat';
      font-weight:bold;
 }
 p{
     color:#8f8f8f;
 }
 .icon-feature{
     color:#ef8172;
     padding:10px 0px;
     margin:1rem;
    }
 .icon-feature:hover{
        color:#ff4c68;
    }

    /* Testimonials */
    #testimonials{
        padding:6% 15%;
        text-align:center;
        background-color:#ff4c68;
        color:#fff;
    }
    h2{
        font-family:'Montserrat';
        font-weight:bold;
        padding-bottom: 10px;
    }
    .testimonials-img{
        border-radius:100%;
        width:130px;
    }

    /* pricing */
    #pricing{
   padding:100px;
   text-align:center;
    }

    .pricing-card-title{
        color:black;
    }

    .text-muted{
        color:black;
    }

    .pricing-column{
        padding:3% 2%;
    }

    /* books */
    #book-images{
    padding:50px;
   text-align:center;
    }

    .books-column{
        padding:3% 2%;
    }
    .btn-buynow{
        margin:auto;
    }
    .card-img-top{
        padding:10px 0px;
        width: 72%;
        display: block;
        margin: auto;
    }
    .mb-4{
        padding:1px;
    }
    